.app {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}
.bio h2 {
  color: #010452;
}
.bio p {
  font-size: 18px;
  color: #db0606;
  font-weight: 700;
}
.bio {
  background-color: #4cd0f5;
  padding: 15px;
  margin: 10px 0;
}
.counter {
  text-align: center;
  font-size: 24px;
  margin: 10px 0;
  color: white;
  background-color: #820202;
  padding: 20px;
}
.counter p {
  color: gold;
}
.hobbies-list {
  background-color: lightcyan;
}
.hobbies-list h2 {
  color: #027506;
}
.hobbies-list ul {
  list-style-type: none;
  padding-left: 20px;
  color: #313201;
}
.hobbies-list li {
  margin-bottom: 10px;
  font-weight: 700;
}
.increment {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.increment p {
  font-weight: 700;
}
button {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #f7adad;
  border: none;
  outline: none;
  padding: 10px 15px;
}

.boolean {
  font-size: 20px;
  color: #d76406;
  background-color: lightgray;
  padding: 20px;
  margin: 10px;
}
.timer {
  font-size: 22px;
  color: #0645d7;
  background-color: #ffd4d4;
  padding: 15px;
  margin: 10px;
}
.timer p {
  font-weight: 600;
}
